* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.players .names {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.players .score {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: rgb(255, 223, 172);
  display: flex;
  justify-content: center;
  align-items: center;
}
